/* --------------------- Product & Services ------------------------ */

#product-services {
  width: 100%;
  padding-top: 90px;
}

.product-services h1 {
  text-align: center;
  text-transform: uppercase;
  color: #1C1C1C;
  padding-bottom: 20px;
}

.product-services .underline {
  height: 3px;
  width: 72px;
  margin: 0 auto;
  background: #F23A2E;
}


.products .product-01 {
  background: url('../img/prod/product-01.jpg') center/cover no-repeat;
  width: 31%;
  height: 250px;
  float: left;
  margin-right: 20px;
}

 .products .product-02 {
  background: url('../img/prod/product-02.jpg') center/cover no-repeat;
  width: 31%;
  height: 250px;
  float: left;
  margin-right: 20px;
}


 .products .product-03 {
  background: url('../img/prod/product-03.jpg') center/cover no-repeat;
  width: 31%;
  height: 250px;
  float: left;
  margin-right: 20px;
}


.products {
  margin: 0% auto;
  width: 102%;
  padding-top: 70px
}

.services {
  margin: 0 auto;
  width: 100%;
  margin-top: 90px;
  padding: 0 222px;
}
.services .service {
  width: 34%;
  float: left;
  
}
.services .service-01 {
  margin-right: 230px;
  background: rgba(255, 255, 255, 0);
  padding: 20px;
  transition: all .4s ease-in-out;
  
}

.services .service-02 {
  background: rgba(255, 255, 255, 0);
  padding: 20px;
  transition: all .4s ease-in-out;
  margin-bottom: 90px!important;
}

.services .service-01 p {
  font-weight: 300;
}

.services .service-02 p {
  font-weight: 300;
}

.services .service-01:hover {
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
}

.services .service-02:hover {
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 40px 74px 24px rgba(0, 0, 0, 0.08);
}

.services .service img {
  color: #F23A2E;
  display: inline-block;
  width: 30px;
  margin-right: 5px;
  padding-bottom: 10px;
}

.services .service h1 {
  color: #F23A2E;
  display: inline-block;
  text-transform: uppercase;
  padding-bottom: 20px;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.services .service p {
  color: #707070;
  line-height: 1.8;
  font-size: 18px;
}

/*===================== MEDIA QUERIES ========================*/
/*Tablets*/
@media only screen and (max-width: 960px) {
  #product-services {
    width: 100%;
  }

  .products {
    padding: 70px 50px 0 50px;
  }

  .products .product {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
  }

  .services .service {
    width: 100%;
    height: 400px;
    margin-bottom: 57px;
}
}

/*Phones*/
@media only screen and (max-width: 750px) {
  #product-services .container {
    width: 89.33%;
  }
  .services  {
    padding: 0 73px;

  }



}